* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.body {
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
.container {
  width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* COMMON */
.col-1 {
  width: calc(100% / 4);
}
.col-2 {
  width: 50%;
}
.col-3 {
  width: calc(300% / 4);
}
.col-4 {
  width: 100%;
}
[class*="col-"] {
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.body .welcome {    
  background-color: #87509c;
  padding: 57px 0px 147px;
  ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    li {
      margin: 0px 5px;
      a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        padding: 10px 17px;
        &:hover {
          background-color: #643a79;
          border-radius: 10px;
        }
        &:focus {
          color: red;
        }
      &:last-child {
        margin-right: 0;
        }
      }
    }
  }
  .h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 145px;
  }
   .button {
    text-align: center;
    margin-top: 62px;
    button {
      padding: 25px 80px;
      background-color: #eb7d4b;
      border: 0px;
      border-radius: 5px;
      margin: auto;
      box-shadow: 0px 4px #aa5a36;
      a {
        text-decoration: none;
        font-size: 18px;
        color: white;
      }
    }
  }
}
.body .service {
  background-color: #17c2a4;
  padding: 120px 0px 127px;
  .h1 {
    color: white;
    text-align: center;
    font-size: 40px;
  }
  .boder {
    border-bottom: 4px solid #118c77;
    width: 87px;
    margin: auto;
    margin-top: 22px;
  }
  p {
    color: white;
    font-size: 18px;
    margin-top: 24px;
    text-align: center;
    padding-bottom: 80px;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  h1 {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 63px;
  }
  p {
    font-size: 16px;
    color: white;
    text-align: center;
    margin-top: 29px;
  }
}
.body .team {
  background-color: #e7f1f8;
  padding: 120px 0px 127px;
  .h1 {
    color: #3c4761;
    font-size: 41px;
    text-align: center;
  }
  .boder {
    border-bottom: 4px solid #c0d3e1;
    width: 87px;
    margin: auto;
    margin-top: 23px;
  }
  .p {
    color: #3c4761;
    font-size: 19px;
    margin-top: 25px;
    text-align: center;
    padding-bottom: 78px;
  }
  .p {
    color: #3c4761;
    font-size: 19px;
    margin-top: 25px;
    text-align: center;
    padding-bottom: 78px;
  }
  h1 {
    color: #27283d;
    font-size: 24px;
    text-align: center;
    margin-top: 41px;
  }
  .link {
    text-align: center;
    margin-top: 10px;
    a {
      text-decoration: none;
      color: #30bae7;
      font-size: 16px;
    }
  }
  p {
    color: #3c4761;
    font-size: 16px;
    margin-top: 26px;
    text-align: center;
    padding: 0px;
  }
  .icon {
    margin-top: 31px;
    display: flex;
    justify-content: center;
    text-align: center;
    .photo {
      width: 32px;
      height: 32px;
      border-radius: 15px;
      background-color: #bdd1df;
      margin: 0px 6px 0px;
      padding-top: 7px;
    }
  }
  i {
    color: white;
    margin: auto;
  }
}
.body .skill {
  padding: 117px 0px 123px;
  .h1 {
    font-size: 40px;
    color: #3c4761;
    text-align: center;
  }
  .boder {
    border-bottom: 4px solid #dfe8ed;
    width: 87px;
    margin: auto;
    margin-top: 22px;
  }
  p {
    font-size: 18px;
    text-align: center;
    margin-top: 24px;
    padding-bottom: 84px;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  h1 {
    color: #3c4761;
    text-align: center;
    margin-top: 32px;
    font-size: 24px;
  }
}
.body .main {
  background-color: #ffdd99;
  padding: 120px 0px 110px;
  .h1 {
    font-size: 40px;
    color: #393939;
    text-align: center;
  }
  .boder {
    border-bottom: 4px solid #e5c37f;
    width: 87px;
    margin: auto;
    margin-top: 21px;
  }
  p {
    margin-top: 24px;
    text-align: center;
    font-size: 18px;
    color: #393939;
  }
  ul {
    display: flex;
    justify-content: center;
    margin-top: 43px;
    padding-bottom: 60px;
    li {
      width: 84px;
      height: 38px;
      background-color: #d7b571;
      border-radius: 5px;
      margin: 0px 5px 0px;
      list-style-type: none;
      text-align: center;
      padding-top: 9px;
      a {
        color: #393939;
        font-size: 18px;
        text-decoration: none;
      }
      &:hover {
        background-color: white;
      }
    }
  }
  p {
    margin-top: 31px;
    text-align: center;
    color: #393939;
    font-size: 18px;
    padding-bottom: 65px;
  }
  button {
    background-color: #17c2a4;
    margin: auto;
    margin-top: 20px;
    border: 0px;
    border-radius: 5px;
    padding-top: 25px;
    a {
      text-decoration: none;
      font-size: 18px;
      color: white;
      padding: 25px 55px
    }
    .back {
      background-color: #118c77;
      height: 4px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      margin-top: 19px;
    } 
  }
}
.body .hamburger {
  background-color: #d74680;
  padding-top: 120px;
  .h1 {
    color: white;
    font-size: 40px;
    text-align: center;
  }
  .boder {
    margin: auto;
    margin-top: 21px;
    border-bottom: 4px solid #9c335d;
    width: 87px;
  }
  p {
    margin-top: 24px;
    color: white;
    text-align: center;
    font-size: 18px;
    padding-bottom: 71px;
  }
  .hanover {
    display: flex;
    justify-content: center;
    margin-bottom: 147px;
    .gray {
      width: 100px;
      height: 100px;
      background-color: #787878;
      border-radius: 50px;
    }
    .text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 48px;
      p {
        font-size: 18px;
        color: white;
        padding: 0px;
        margin-top: 4px;
      }
      h1 {
        color: white;
        font-size: 22px;
        margin-top: 25px;
      }
      a {
        text-decoration: none;
        color: #ffdd99;
        font-size: 16.5px;
        margin-top: 2px;
      }
    }
  }
}
.body .footer {
  background-color: #3c5499;
  padding: 120px 0px 115px;
  .h1 {
    font-size: 40px;
    color: white;
    text-align: center;
  }
  .boder {
    width: 87px;
    border-bottom: 4px solid #273a71;
    margin: auto;
    margin-top: 21px;
  }
  p {
    margin-top: 24px;
    color: white;
    font-size: 18px;
    text-align: center;
    padding-bottom: 76px;
  }
  .last {
    padding-left: 25%;
    .left {
      height: 56px;
      background-color: #273a71;
      border-radius: 5px;
      padding: 16px 0px 0px 25px;
      span {
        color: white;
        font-size: 18px;
        b {
          color: red;
          margin: 5px;
        }
        input {
          background-color: #273a71;
          border: 0px;
          color: white;
        } 
      }
    }
  }
  .zero {
    padding-right: 25%;
    .right {
      height: 56px;
      background-color: #273a71;
      border-radius: 5px;
      padding: 16px 0px 0px 25px;
      span {
        color: white;
        font-size: 18px;
        b {
          color: red;
          margin: 5px;
        }
        input {
          background-color: #273a71;
          border: 0px;
          color: white;
        } 
      }
    }
  }
  .center {
    padding-left: 12.3%;
    padding-right: 12.3%;
    .message {
      padding: 0px 12.5%;
      height: 200px;
      background-color: #273a71;
      border-radius: 5px;
      padding: 16px 0px 0px 25px;
      margin: auto;
      margin-top: 27px;
      span {
        color: white;
        font-size: 18px;
        b {
          color: red;
          margin: 5px;
        } 
        input {
          background-color: #273a71;
          border: 0px;
          color: white;
        }
      }
    }
  }
  button {
    background-color: #30bae7;
    margin: auto;
    margin-top: 59px;
    border: 0px;
    border-radius: 5px;
    padding-top: 25px;
    a {
      text-decoration: none;
      color: white;
      font-size: 18px;
      padding: 25px 84px;
    }
    .back {
      border-bottom: 4px solid #2386a8;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      margin-top: 19px;
    } 
  }
}
.body .bottom-footer {
  background-color: #344b8e;
  padding: 49px 0px 41px;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0px 28px;
      list-style-type: none;
      a {
        text-decoration: none;
        color: white;
        font-size: 24px;
        &:hover {
          color: #30bae7;
        }
      }
    }
  }
}